.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header h1 {
  font-family: var(--logo-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-light);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: -0.07em;
  transform: scaleX(1.08);
}

.big-cap {
  font-size: 1.2em;
}
