* {
  margin: 0px;
  padding: 0px;
}
.App {
  background-color: #FAFAFA;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:root {
  --primary-color: #30001413;
  --primary-color-hover: #30001450;
  --white: #FFFFFF;
  --hover-background: #FAFAFA;
  --border-color: #FAFAFA;
  --text-primary: #262626;
  --text-secondary: #575757;
  --font-family: 'Playfair Display', serif;
  --logo-font: 'Playfair Display', sans-serif; 
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--text-primary);
}

.feed {
  background-color: var(--hover-background);
  height: calc(100vh - 3.5rem);
  overflow: auto;
  order: 2;
}

.navbar {
  order: 3;
  position: sticky;
  background-color: #FFFFFF;
}

.discover {
  display: none;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.username {
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .app-container {
    flex-flow: row;
  }

  .feed {
    width: 70%;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 20%;
  }
}

@media (min-width: 900px) {
  .feed {
    width: 50%;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 15%;
  }
  .discover {
    display: flex;
    order: 3;
    background-color: #FFFFFF;
    width: 35%;
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .feed {
    width: 50%;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 20%;
  }
}
